########################################################
# Pornomovies SD VideoPortal|checked:5-8-15
########################################################
start=http://www.pornomovies.com
catcher=pornomovies
########################################################
# Videos
########################################################
item_infos=>\s+<img src="([^"]+)" alt="([^"]+)".+?duration">([\d:]+)</span>\s+<h3><a href="([^"]+)"
item_order=icon|title|title.append|url
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://pornomovies.com%s
########################################################
# Most Viewed:Time span
########################################################
item_infos=<a itemprop="url" href="(/most-viewe[^"]+)"><span itemprop="name">(Week|Month|Year|All Time)</span></a>
item_order=url|title
item_skill=directory
item_curr=<a href="/(most-viewed-[^"]+)/[^"]+" class="next">Next >></a>
item_info_name=title
item_info_build= Most Viewed:Time span
item_info_name=icon
item_info_build=video.devil.image|calendar.png
item_url_build=http://pornomovies.com%s
########################################################
# Top Rated:Time span
########################################################
item_infos=<a itemprop="url" href="(/top-rate[^"]+)"><span itemprop="name">(Week|Month|Year|All Time)</span></a>
item_order=url|title
item_skill=directory
item_curr=<a href="/(top-rated-[^"]+)/[^"]+" class="next">Next >></a>
item_info_name=title
item_info_build= Top Rated:Time span
item_info_name=icon
item_info_build=video.devil.image|calendar.png
item_url_build=http://pornomovies.com%s
########################################################
# Categories
########################################################
item_infos=href="(/search/index/[^"]+)" title="([^"]+) porno">&nbsp;&nbsp;
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornomovies.com%s
########################################################
# Direct Links
########################################################
title= Tags
icon=video.devil.image|face_kiss.png
url=http://www.pornomovies.com/categories/
########################################################
# Subcategories
########################################################
item_infos=href="(/search/index/[^"]+)">&nbsp;&nbsp;<i class="fa fa-angle-right"></i>([^<]+)</a></li>
item_order=url|title
item_info_name=title
item_url_build=http://www.pornomovies.com%s
########################################################
# Next
########################################################
item_infos=<a href="([^"]+)" class="next">Next >></a>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.pornomovies.com%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://www.pornomovies.com/search/?q=%s
########################################################
