########################################################
# PornHub VideoPortal
########################################################
start=http://www.pornhub.com/categories
catcher=m.pornhub.com
########################################################
# Videos
########################################################
item_infos=href="/view_video.php\?viewkey=([^"]+)" title="([^"]+)" class.+?class="duration">([^<]+)</var>.+?mediumthumb="([^"]+)"
item_order=url|title|title.append|icon
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.pornhub.com/view_video.php?viewkey=%s
########################################################
# Categories:Videos
########################################################
item_infos=<a class="sidebarIndent" href="([^"]+video|[^"]+video\?c=[^"]+)">([^"]+|All)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s
########################################################
# Cmds Pornhub
#(Channels|Playlists|Pornstars)
#(Hottest|Most Viewed|Recommended|Top Rated)
########################################################
item_infos=<a href="([^"]+channels|[^"]+playlists|[^"]+pornstars|/video\?o=ht[^"]+|[^"]+video\?o=mv|/recommended|[^"]+video\?o=tr)" onclick=".+?</i>(Channels|Playlists|Pornstars|Hottest|Most Viewed|Recommended|Top Rated)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=  Cmds Pornhub
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://www.pornhub.com%s
########################################################
# Direct Links
########################################################
title=   Videos Long (> 10 min)
type=once
icon=video.devil.image|video.png
url=http://www.pornhub.com/video?min_duration=10
#
title=   Videos Small (< 10 min)
type=once
icon=video.devil.image|video.png
url=http://www.pornhub.com/video?max_duration=10
#
title=   Search Pornstar
type=search
icon=video.devil.image|search.png
url=http://www.pornhub.com/pornstars/search?search=%s
#
title=   Search Channel
type=search
icon=video.devil.image|search.png
url=http://www.pornhub.com/channels/search?channelSearch=%s
########################################################
# Categories:Production
#(All|Professional|Homemade)
########################################################
item_infos=<a class="sidebarIndent" href="([^"]+video\?p=[^"]+|[^"]+video\?c=[^"]+|[^"]+video\?o=[^"]+|[^"]+video")">(All|Professional|Homemade)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Production
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s
########################################################
# Categories:Channels
########################################################
item_infos=<a href="([^"]+channels[^"]+)"><img alt="([^"]+)" src="([^"]+)".+?<li><span>([^>]+)</span> Videos</li>
item_order=url|title|icon|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s/videos?o=vi
########################################################
# Categories:Channels Search
########################################################
item_infos=class="usernameLink"><img src="([^"]+)".+?<li><a href="([^"]+channels/[^"]+)" class="usernameLink">([^"]+)</a>
item_order=icon|url|title
item_skill=rss
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s/videos?o=vi
########################################################
# Categories:Pornstars
########################################################
item_infos=<img src="([^"]+)".+?<div class="thumbnail-info-wrapper">.+?<a href="(/pornstar/[^"]+)" class="title.+?>([^"]+)</a>.+?<span class="videosNumber">([^<]+) Videos</span>
item_order=icon|url|title|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s
########################################################
# Categories:Playlists
########################################################
item_infos=<span class="playlist-videos">.+?<span class="number"><span>([^"]+)</span> videos</span>.+?<a class="viewPlaylistLink" href="(/playlist/[^"]+)".+?<img class=".+?" alt="([^"]+)".+?data-mediumthumb="([^"]+)"
item_order=title.append|url|title|icon
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.pornhub.com%s
########################################################
# Sorting:Videos
#(Featured Recently|Hottest|Longest|Most Viewed|Newest|Top Rated)
########################################################
item_infos=<a href="([^"]+vide[^"]+)">[^"]+<i class="[^"]+"></i>([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Sorting:Channels
#(A-Z|Most Popular|Most Recent|Trending)
########################################################
item_infos=<a href="([^"]+channels\?[^"]+)"><span>([^"]+)</span></a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Sorting:Playlists
#(Most Favorited|Most Viewed|Most Recent|Top Rated)
########################################################
item_infos=<a href="(/playlist[^"]+)"><i class="[^"]+"></i>(Most Favorited|Most Viewed|Most Recent|Top Rated)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Sorting:Search Channels
#(Most Popular/Most Recent/Trending)
########################################################
item_infos=<a href="([^"]+channels/search\?channelSearch[^"]+)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Sorting:Pornstars|Search Videos|Videos Channels
#(Alphabetical|Most Popular|Most Viewed|Most Subscribed|No. Of Videos|Top Trending|
# Most Recent|Most Viewed|Top Rated)
########################################################
item_infos=<a href="(/pornstar[^"]+|[^"]+channel[^"]+|[^"]+video/search[^"]+)"><i class="[^"]+"></i>([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Time span:Videos|Playlists|Pornstars(All Time|Daily|Monthly|Weekly|
#(Monthly/Weekly/Yearly)
########################################################
item_infos=<a href="([^"]+video[^"]+t=[^"]+|/playlist[^"]+t=[^"]+|/pornstar[^"]+t=[^"]+)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30113
item_info_name=icon
item_info_build=video.devil.image|calendar.png
item_url_build=http://www.pornhub.com%s
########################################################
# Refine:A-Z|Channels|Pornstars
########################################################
item_infos=<a href="([^"]+channel[^"]+&amp;l=[^"]+|/pornstar[^"]+&amp;l=[^"]+)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= A-Z
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.pornhub.com%s
########################################################
# Subcategories:(All|HD)
########################################################
item_infos=<a href="([^"]+)" class="toggle">(All|HD)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= All|HD
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=http://www.pornhub.com%s
########################################################
# Subcategories:Countries
########################################################
item_infos=<a href="([^"]+vide[^"]+ht[^"]+)"><i class="flagIcon[^"]+"></i>([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Countries
item_info_name=icon
item_info_build=video.devil.image|locale.png
item_url_build=http://www.pornhub.com%s
########################################################
# Subcategories:Straight|Gay
########################################################
item_infos=<a href="([^"]+)" style=".+?"></span>(Straight Videos|Gay Videos)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Straight|Gay
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://www.pornhub.com%s
########################################################
# Subcategories:Playlists
#(Straight Playlists|Gay Playlists|Shemale Playlists)
########################################################
item_infos=<a href="([^"]+playlists)"><i class="[^"]+"></i>(Straight Playlists|Gay Playlists|Shemale Playlists)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30101
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://www.pornhub.com%s
########################################################
# Network Sites
########################################################
item_infos=<a href="(/site/[^"]+)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=  Network Sites
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://www.pornhub.com%s
########################################################
# Next
########################################################
item_infos=<a href="([^"]+)" class="orangeButton">Next</a>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.pornhub.com%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://www.pornhub.com/video/search?search=%s
########################################################
