########################################################
# YouPorn SD VideoPortal|checked:11-8-15
# revisions:
# Changed sort options
# Changed next
# Added Channels|Pornstars|Countries
# Added cmds|Top Rated|New Videos|Most Viewed|Most Favorited|Most Discussed|Channels|Pornstars|Collections
# Added search result options:Pornstars|Channels
# Added search related
########################################################
start=http://www.youporn.com
catcher=youporn.com
header=Cookie|age_verified=1
########################################################
# Videos
########################################################
item_infos=<a href="(/watch[^"]+)"[^<]+>[^>]+?alt='([^']+)'.+?data-thumbnail="([^"]+)" .+?class="[^"]*duration[^"]*">([^<]+)<
item_order=url|title|icon|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.youporn.com%s
########################################################
# Pornstars
########################################################
item_infos=<a href="(/pornstars/\d+/[^"]+)">\s+<img src="([^"]+)" alt="([^"]+)"/>
item_order=url|icon|title|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.youporn.com%s
########################################################
# Categories:Countries
########################################################
item_infos=<option value="(/country/[^"]+)">([^"]+)</option>
item_order=url|title
item_skill=directory
item_curr=<option selected="selected" value="/country/[^"]+">([^"]+)</option>
item_info_name=title
item_info_build= Countries
item_info_name=icon
item_info_build=video.devil.image|locale.png
item_url_build=http://www.youporn.com%s
########################################################
# Categories:Top Countries
########################################################
item_infos=<li><a href="(/country/[^"]+)">([^"]+)</a></li>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Top Countries
item_info_name=icon
item_info_build=video.devil.image|locale.png
item_url_build=http://www.youporn.com%s
########################################################
# Cmds YouPorn
########################################################
item_infos=href="([^"]+)">(Top Rated|New Videos|Most Viewed|Most Favorited|Most Discussed|\s+Channels\s+|\s+Pornstars\s+|Collections)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Cmds YouPorn
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://www.youporn.com%s
########################################################
# Direct Links
########################################################
title= HD Videos
icon=video.devil.image|face_devil_grin.png
url=http://www.youporn.com/category/65/hd/
########################################################
# Sorting|Videos
########################################################
item_infos=<a href="([^"]+)">(Views|Rating|Duration|Date|Relevance)</a>
item_order=url|title
item_skill=directory
item_curr=<li class="selected">\s+<a href="[^"]+">(Views|Rating|Duration|Date|Relevance)</a>
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Sorting|Videos|Channel|Pornstar
########################################################
item_infos=<a href="([^"]+)">(\s+Views\s+|\s+Rating\s+|\s+Duration\s+|\s+Date\s+|\s+Relevance\s+)</a>
item_order=url|title
item_skill=directory
item_curr=<li class="selected">\s+<a href="[^"]+">(\s+Views\s+|\s+Rating\s+|\s+Duration\s+|\s+Date\s+|\s+Relevance\s+)</a>
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Sorting|Channels
########################################################
item_infos=<li class=""><a href="(/channels/\w+/\w+/)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_curr=<li class="selected"><a href="/channels/\w+/\w+/">([^"]+)</a>
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Sorting|Pornstars
########################################################
item_infos=<li class="">\s+<a href="(/pornstars/\w+/)">([^"]+)</a>
item_order=url|title
item_skill=directory
item_curr=<li class="selected">\s+<a href="/pornstars/\w+/">([^"]+)</a>
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Time span:Videos
########################################################
item_infos=<li class=""><a href="([^"]+)">(Today|Yesterday|This Week|This Month|This Year|All Time)</a>
item_order=url|title
item_skill=directory
item_curr=</li><li class="selected"><a href="[^"]+">(Today|Yesterday|This Week|This Month|This Year|All Time)</a>
item_info_name=title
item_info_build=video.devil.locale|30113
item_info_name=icon
item_info_build=video.devil.image|calendar.png
item_url_build=http://www.youporn.com%s
########################################################
# Refine:A-Z|Pornstars
########################################################
item_infos=<a href="(/pornstars/\w+/[^"]+)" >([^"]+)</a>
item_order=url|title
item_skill=directory
item_curr=<a href="/pornstars/\w+/[^"]+" class="selected">([^"]+)</a>
item_info_name=title
item_info_build= A-Z
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Refine:A-Z|Channels
########################################################
item_infos=<a href="(/channels/\w+/[^"]+)" >([^"]+)</a>
item_order=url|title
item_skill=directory
item_curr=<a href="/channels/\w+/[^"]+" class="selected">([^"]+)</a>
item_info_name=title
item_info_build= A-Z
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=http://www.youporn.com%s
########################################################
# Next
########################################################
item_infos=<link rel="next" href="([^"]+)" />
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Next|Channels
########################################################
item_infos=<a data-href="/[^"]+" href="(/channel/[^"]+)">\s+<span class="prevNextSpan">NEXT </span>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.youporn.com%s
########################################################
# Pornstar Results
########################################################
item_infos=<div class='pornstarFigure'>\s<a href="(/pornstars/\d+/[^"]+)">\s+<img src="([^"]+)" alt="([^"]+)"/>
item_order=url|icon|title
item_skill=directory
item_info_name=title
item_info_build= Pornstar Results
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.youporn.com%s
########################################################
# Channel Results
########################################################
item_infos=<div class="channelWrapper-figure">\s+<a href="(/channel/\d+/[^"]+)">\s+<img src="([^"]+)" alt="([^"]+)">
item_order=url|icon|title
item_skill=directory
item_info_name=title
item_info_build= Channel Results
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.youporn.com%s
########################################################
# Searches Related
########################################################
item_infos=<a href="(/porntags/[^"]+)/\?from_query=[^"]+">([^"]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build= Searches Related
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=http://www.youporn.com%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://www.youporn.com/search?query=%s
########################################################
